@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: #eee;
}

header {
    padding: 12px 20px;
    
    display: flex;
    justify-content: space-between;
}

#header-img {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-left: 10px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 85px;
}

a {
    text-decoration: none;
    color: black;
}

ul, li {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
}