@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

#header-img {
    max-width: 300px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

a {
    text-decoration: none;
}