@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: #eee;
}

header {
    padding: 12px 20px;
    
    display: flex;
    justify-content: space-between;
}

#header-img {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-left: 10px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 85px;
}

a {
    text-decoration: none;
    color: black;
}

ul, li {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* form is flex because input and button are in the same element and they should each be in their own line */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    padding: 5px;
    font-size: 14px;
    min-width: 250px;
}

button {
    margin-top: 15px;
    background-color: #f1c40f;
    border: none;
    min-width: 150px;
    height: 30px;
    font-weight: 700;
    font-size: 16px;
}