@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-doc {
    flex: 4;
}

#navbar {
    border-right: 2px solid #4d4e53;
    padding: 0;
    margin: 0;
    /* min-width: 20%; */
    flex: 1;
}

#navbar li,ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#navbar ul {
    display: flex;
    flex-direction: column;
}

#navbar li {
    border-top: 1px solid #4d4e53;
    padding: 10px 30px;
}

#navbar header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.topic {
    font-weight: 400;
    font-size: 28px;
}

p, ul, li, a {
    color: #4d4e53;
}

a {
    text-decoration: none;
}

.content {
    padding-left: 20px;
    font-size: 0.96em;
}

li {
    margin-top: 15px;
}