@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background: #1b1b32;
    color: #f3f3f3;
    background-image: linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ),
      url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    padding: 50px 400px;
}

/*--color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;*/

.title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

h1, p {
    padding: 0;
    margin: 0;
}

#title {
    font-weight: 400;
    font-size: 32px;
}

p {
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgba(27, 27, 50, 0.8);
    padding: 40px;
    border-radius: 5px;
    font-size: 18px;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input, select {
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 16px;
}

select {
    background-color: white;
    color: #495057;
}

/*labels should have a bottom margin of 8px*/

span {
    font-size: 14px;
}

input[type=radio], input[type=checkbox] {
    /* border: 0; */
    transform: scale(1.5);
}

textarea {
    padding: 10px;
    font-size: 14px;
    max-height: 100px;
}